* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../font/Roboto-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #0284f51a;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 97px;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.menu__link {
    color: #000;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.menu__link:hover {
    color: #0082F4a1;
    padding-bottom: 39px;
    border-bottom: 1px solid #0082F4a1;
}

.link__active {
    color: #0082F4;
    padding-bottom: 39px;
    border-bottom: 1px solid #0082F4;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background: #0082F4;
    border: 2px solid #0082F4;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.button:hover {
    background-color: transparent;
    color: #0082F4;
}

.hero {
    padding: 150px 0 100px;
}

.hero__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading__span {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0080FD;
}

.head__teg {
    font-weight: 700;
    font-size: 60.55px;
    line-height: 130%;
    color: #000;
    margin-bottom: 20px;
}

.heading__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    opacity: 0.6;
    margin-bottom: 30px;
}

.text__primary {
    color: #0082F4;
}

.hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}

.hero__button-play {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 12px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 130, 244, 0.1);
    border-radius: 10px;
    color: #000;
    gap: 15px;
    cursor: pointer;
}

#about {
    padding-top: 130px;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about__head {
    font-size: 49px;
}

.about__parag {
    font-size: 20px;
}

.services {
    padding-top: 212px;
}

.service__head {
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card {
    text-align: center;
}

.card__head{
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #000;
    margin-top: 60px;
    margin-bottom: 10px;
}

.service__parag {
    font-size: 20px;
    color: #000;
    opacity: 0.6;
}

.messages {
    padding-top: 124px;
    padding-bottom: 110px;
}

.mess__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.mess__head {
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    color: #000000;
}

.mess__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}

.mess__buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.mess__buttons button:hover {
    scale: 1.2;
}

.mess__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 67px;
    margin-top: 60px;
}

.mess {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 30px;
    gap: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #0082F41a;
    border-left: 62px solid #0082F4;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    cursor: pointer;
}

.mess__img {
    position: absolute;
    left: -30px;
    width: 61px;
    height: 61px;
}

.mess__texts {
    padding-left: 50px;
}

.mess__texts p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    opacity: 0.7;
}

.mess__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    opacity: 0.9;
    padding-top: 45px;
}

.name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

.mess__hr {
    height: 2px;
    width: 30px;
    opacity: 0.7;
    background-color: #000;
}

.mess__name span {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    opacity: 0.5;
    padding-left: 40px;
    padding-top: 10px;
}

#signUp {
    padding-top: 130px;
}

.sign__up-box {
    background-color: #E8ECFF4D;
    text-align: center;
}

.sign__up h2 {
    font-weight: 500;
    font-size: 31.25px;
    line-height: 37px;
    padding-top: 75px;
}

.email__pag {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    opacity: 0.7;
    padding: 15px 0 30px;
}

.send__email {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    border: 1px solid #058aff33;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 0 0 75px;
    cursor: pointer;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

form input {
    border: none;
    outline: none;
    background-color: transparent;
}

.sign__up .button {
    padding: 10px 30px;
}

.footer__top {
    background-color: #fff;
    padding: 60px 0;
}

.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 20px;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
}

.footer__menu h2 {
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
}
.footer__list li {
    display: inline;
    row-gap: 20px;
}
.footer__link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    opacity: 0.7;
    color: #000;
}

.footer__contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.footer__bottom {
    padding: 45px;
    background: -webkit-gradient(linear, left top, left bottom, from(#058AFF), color-stop(97.91%, rgba(57, 55, 206, 0.87)));
    background: -o-linear-gradient(top, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    background: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);
    color: #fff;
}

.footer__bottom-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__bottom-left span {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.footer__bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    color: #fff;
}

.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.footer__bottom-right .button {
    background-color: #fff;
    color: #3C61E1;
    border: 2px solid #fff;
}

.footer__bottom-right .button:hover {
    background-color: transparent;
    color: #fff;
}
